<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>NLP4J by emorynlp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">NLP4J</h1>
      <h2 class="project-tagline"><b>NLP Toolkit for JVM Languages</b></h3>
      <a href="https://github.com/emorynlp/nlp4j" target="_blank" class="btn">View on GitHub</a>
      <a href="http://search.maven.org/#search%7Cga%7C1%7Cnlp4j" target="_blank" class="btn">View on Maven</a>
      <a href="nlp.mathcs.emory.edu:8080/nlp4j" target="_blank" class="btn">View our Demo</a>
    </section>

    <section class="main-content">
      <h2>Dependency Parsing</h2>

      <p>Our dependency parser uses a transition-based, non-projective parsing algorithm showing a linear-time speed for both projective and non-projective parsing. It processes over 14K tokens per second on an Intel Xeon 2.30GHz machine, and shows the near state-of-the-art accuracy for greedy parsing (92.26% on the WSJ corpus).</p>

      <ul>
      <li><a href="http://www.aclweb.org/anthology/P15-1038.pdf">It Depends: Dependency Parser Comparison Using A Web-based Evaluation Tool</a>, Jinho D. Choi, Amanda Stent, Joel Tetreault, Proceedings of the 53rd Annual Meeting of the Association for Computational Linguistics (ACL&#39;15), 387–396, Beijing, China, 2015.</li>
      <li><a href="http://aclweb.org/anthology/P/P13/P13-1104.pdf">Transition-based Dependency Parsing with Selectional Branching</a>, Jinho D. Choi, Andrew McCallum, Proceedings of the 51st Annual Meeting of the Association for Computational Linguistics (ACL&#39;13), 1052-1062, Sofia, Bulgaria, 2013.</li>
      <li><a href="http://aclweb.org/anthology/P11-2121.pdf">Getting the Most out of Transition-based Dependency Parsing</a>, Jinho D. Choi, Martha Palmer, Proceedings of the 49th Annual Meeting of the Association for Computational Linguistics: Human Language Technologies (ACL&#39;11), 687-692, Portland, Oregon, 2011.</li>
      </ul>

      <h3>English Labels</h2>

      <table>
      <thead>
      <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Version</th>
      </tr>
      </thead>

      <tbody>
      <tr>
      <td><code>acl</code></td>
      <td>Clausal modifier of noun</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>acomp</code></td>
      <td>Adjectival complement</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>advcl</code></td>
      <td>Adverbial clause modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>advmod</code></td>
      <td>Adverbial modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>agent</code></td>
      <td>Agent (passive)</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>appos</code></td>
      <td>Appositional modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>attr</code></td>
      <td>Attribute</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>aux</code></td>
      <td>Auxiliary verb</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>auxpass</code></td>
      <td>Auxiliary verb (passive)</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>case</code></td>
      <td>Case marker</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>cc</code></td>
      <td>Coordinating conjunction</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>ccomp</code></td>
      <td>Clausal complement</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>compound</code></td>
      <td>Compound word</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>conj</code></td>
      <td>Conjunct</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>csubj</code></td>
      <td>Clausal subject</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>csubjpass</code></td>
      <td>Clausal subject (passive)</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>dative</code></td>
      <td>Dative</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>dep</code></td>
      <td>Unclassified dependent</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>det</code></td>
      <td>Determiner</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>discourse</code></td>
      <td>Discourse element</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>dobj</code></td>
      <td>Direct Object</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>expl</code></td>
      <td>Expletive</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>mark</code></td>
      <td>Marker</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>meta</code></td>
      <td>Meta data</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>neg</code></td>
      <td>Negation modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>nmod</code></td>
      <td>Modifier of nominal</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>npadvmod</code></td>
      <td>Noun phrase as adverbial modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>nsubj</code></td>
      <td>Nominal subject</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>nsubjpass</code></td>
      <td>Nominal subject (passive)</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>oprd</code></td>
      <td>Object predicate</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>parataxis</code></td>
      <td>Parataxis</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>pcomp</code></td>
      <td>Preposition complement</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>pobj</code></td>
      <td>Preposition object</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>poss</code></td>
      <td>Possession modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>preconj</code></td>
      <td>Precorrelative conjunction</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>predet</code></td>
      <td>Predeterminer</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>prep</code></td>
      <td>Prepositional modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>prt</code></td>
      <td>Verb particle</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>punct</code></td>
      <td>Punctuation</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>qmod</code></td>
      <td>Modifier of quantifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>relcl</code></td>
      <td>Relative clause modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>root</code></td>
      <td>Root</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>vocative</code></td>
      <td>Vocative modifier</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>xcomp</code></td>
      <td>Open clausal complement</td>
      <td>1.0.0</td>
      </tr>
      </tbody>
      </table>
      

      <footer class="site-footer">
        <span class="site-footer-credits">&copy;2016 by <a href="http://nlp.mathcs.emory.edu">Emory NLP</a>. All Rights Reserved.</span>
      </footer>
    </section>
  </body>
</html>
