<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>NLP4J by emorynlp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" media="screen">
    <script type="text/javascript" src="../constant.js"></script>
  </head>
  <body>
    <section class="page-header">
      <script>document.write(HEADER2)</script>
    </section>

    <section class="main-content">
      <h2>Part-of-Speech Tagging</h2>

      <p>Our part-of-speech tagger uses the generalized model from dynamic model selection and utilizes ambiguity classes trained on a large corpus. It processes over 82K tokens per second on an Intel Xeon 2.30GHz machine and shows the state-of-the-art accuracy (97.64% on the WSJ corpus).</p>

      <ul>
      <li><a href="https://aclweb.org/anthology/N16-1031.pdf" target="_blank">Dynamic Feature Induction: The Last Gist to the State-of-the-Art</a>, Jinho D. Choi, Proceedings of the 54th Annual Meeting of the Association for Computational Linguistics (NAACL&#39;16), San Diego, CA, 2016.</li>
      <li><a href="http://www.aaai.org/Conferences/AAAI/2016/aaai16accepted-papers.pdf" target="_blank">Intrinsic and Extrinsic Evaluations of Word Embeddings</a>, Michael Zhai, Johnny Tan, Jinho D. Choi, Proceedings of the AAAI 2015 Student Program, Phoenix, AZ, 2015.</li>
      <li><a href="http://www.aclweb.org/anthology/P12-2071.pdf" target="_blank">Fast and Robust Part-of-Speech Tagging Using Dynamic Model Selection</a>, Jinho D. Choi, Martha Palmer, Proceedings of the 50th Annual Meeting of the Association for Computational Linguistics (ACL&#39;12), 363-367, Jeju, Korea, 2012.</li>
      </ul>

      <h3>English Tags</h3>

      <table>
      <thead>
      <tr>
      <th>Tag</th>
      <th>Description</th>
      <th>Version</th>
      </tr>
      </thead>

      <tbody>
      <tr>
      <td><code>$</code></td>
      <td>Dollar</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>:</code></td>
      <td>Colon</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>,</code></td>
      <td>Comma</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>.</code></td>
      <td>Period</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td>````</td>
      <td>Left quote</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>&#39;&#39;</code></td>
      <td>Right quote</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>-LRB-</code></td>
      <td>Left bracket</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>-RRB-</code></td>
      <td>Right bracket</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>ADD</code></td>
      <td>Email</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>AFX</code></td>
      <td>Affix</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>CC</code></td>
      <td>Coordinating conjunction</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>CD</code></td>
      <td>Cardinal number</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>DT</code></td>
      <td>Determiner</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>EX</code></td>
      <td>Existential <code>there</code></td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>FW</code></td>
      <td>Foreign word</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>GW</code></td>
      <td>Go with</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>HYPH</code></td>
      <td>Hyphen</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>IN</code></td>
      <td>Preposition or subordinating conjunction</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>JJ</code></td>
      <td>Adjective</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>JJR</code></td>
      <td>Adjective, comparative</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>JJS</code></td>
      <td>Adjective, superlative</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>LS</code></td>
      <td>List item marker</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>MD</code></td>
      <td>Modal</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>NFP</code></td>
      <td>Superfluous punctuation</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>NN</code></td>
      <td>Noun, singular or mass</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>NNS</code></td>
      <td>Noun, plural</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>NNP</code></td>
      <td>Proper noun, singular</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>NNPS</code></td>
      <td>Proper noun, plural</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>PDT</code></td>
      <td>Predeterminer</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>POS</code></td>
      <td>Possessive ending</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>PRP</code></td>
      <td>Personal pronoun</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>PRP$</code></td>
      <td>Possessive pronoun</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>RB</code></td>
      <td>Adverb</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>RBR</code></td>
      <td>Adverb, comparative</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>RBS</code></td>
      <td>Adverb, superlative</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>RP</code></td>
      <td>Particle</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>SYM</code></td>
      <td>Symbol</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>TO</code></td>
      <td>To</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>UH</code></td>
      <td>Interjection</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>VB</code></td>
      <td>Verb, base form</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>VBD</code></td>
      <td>Verb, past tense</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>VBG</code></td>
      <td>Verb, gerund or present participle</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>VBN</code></td>
      <td>Verb, past participle</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>VBP</code></td>
      <td>Verb, non-3rd person singular present</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>VBZ</code></td>
      <td>Verb, 3rd person singular present</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>WDT</code></td>
      <td>Wh-determiner</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>WP</code></td>
      <td>Wh-pronoun</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>WP$</code></td>
      <td>Wh-pronoun, possessive</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>WRB</code></td>
      <td>Wh-adverb</td>
      <td>1.0.0</td>
      </tr>
      <tr>
      <td><code>XX</code></td>
      <td>Unknown</td>
      <td>1.0.0</td>
      </tr>
      </tbody>
      </table>
      

      <footer class="site-footer">
        <script>document.write(FOOTER)</script>
      </footer>
    </section>
  </body>
</html>
